body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(212, 212, 212);
}
.aba{
    display: flex;
    align-items: center;
}
.aba img{
    height: 20px;
}
.aba p{
    margin: 0 5px;
    font-size: 14px;
}
.barraAba{
    display: flex;
    align-items: center;
}
.novaAba{
    background-color: rgb(187, 187, 187);
    padding: 0 3px;
}
.tituloAba{
    background-color: rgb(212, 212, 212);
    padding: 5px 0;
}
.tituloAba p{
    margin: 0 10px;
    font-weight: bold;
    font-size: 25px;
}


.separadorAmarelo{
    padding: 10px;
    background-color: rgb(237, 237, 33);
}


.barraBotoes{
    background-color: rgb(212, 212, 212);
    display: flex;
    padding: 5px;
}
.barraBotoes button{
    display: flex;
    margin-left: 5px;
    align-items: center;
    border-radius: 0;
    border: solid gray 1px;
    padding: 2px 5px;
}
.barraBotoes button img{
    height: 15px;    
    margin: 0 3px;
}
.barraBotoes button p{
    padding: 0;   
}
.separador{
    padding: 1px;
    background-color: rgb(170, 170, 170);
    margin-left: 5px;
}

main{
    display: flex;
}


#navigation{
    width: 400px;
    background-color: white;
    margin-right: 10px;
}

#navigation p{
    margin: 0;
}

.barraTituloSecao{
    background-color: rgb(240, 240, 240);
    display: flex;
    padding: 15px 25px;
    align-items: center;
    border-bottom: solid blue 4px;
}
.tituloSecao{
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.menuSecao{
    font-size: 14px;
    padding-right: 20px;
}

.quadradoSelecao{
    padding: 0px 15px;
    background-color: rgb(212, 212, 212);
}
.espacoTabela{
    overflow-x: auto;
    max-width: 100%;
}
.tabelaConteudo{
    border: solid rgb(170, 170, 170) 1px;
    border-collapse: collapse;
    width: 110%;
    text-align: left;
}
.tabelaConteudo td{
    border: solid rgb(170, 170, 170) 1px;
    padding: 5px;
}
.tabelaConteudo th{
    border: solid rgb(170, 170, 170) 1px;
    background-color: rgb(212, 212, 212);
    font-weight: lighter;
    padding: 5px;
}

.lateralDireito{
    flex-grow: 1;
}

#overview{
    background-color: rgb(240, 240, 240);
    padding-top: 20px;
    padding-left: 5px;
}

#overview p{
    margin: 0;
}

.botoesDireito{
    display: flex;
    margin-left: auto;
}

#attributes{
    margin-top: 10px;
    background-color: rgb(240, 240, 240);
}
#attributes p{
    margin: 0;
}

.formularioAtributos{
    display: flex;
}
.formularioEsquerdo{
    margin-left: auto;
    
}
.formularioDireito{
    margin-left: auto;
}

.atributo{
    display: flex;
    justify-content: flex-end;
    padding: 7px;
    align-items: center;
}
.atributo p{
    margin-right: 10px;
}
.atributo input{
    border: solid rgb(170, 170, 170) 1px;
    width: 350px;
    margin-left: 10px;
    height: 20px;
}

.atributo img{
    margin-left: auto;
}

.valorDireita{
    text-align: right;
}
